/* make declaration according to media size */

h1 {
    font-size: 20px;
    @media (max-width: 960px){
        font-size: 18px;
    }
    @media (max-width: 640px){
        font-size: 16px;
    }
    @media (max-width: 320px){
        font-size: 14px;

        .small {
            color: #1D1D1D;
        }
    }
}