//  Declaring margin to be used by the <p> tags
$body-padding: 0;
$body-margin: 0;
$p-margin: 10px;

body {
    margin: $body-margin;
    padding: $body-padding;

    body p {
        margin: $p-margin;
    }
}
